.chatbot-button {
  position: fixed;
  bottom: 10px;
  right: 10px;
  background-color: #1976d2;
  color: white;
  border-radius: 50%;
  padding: 12px;
  cursor: pointer;
  z-index: 1100;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.chatbox {
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 95px;
  right: 20px;
  width: 400px;
  height: 450px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  z-index: 1100;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}


.chatbox-topbar {
  background-color: #1976d2;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 12px; /* Adjusted padding */
  margin: 0; /* Ensure no margin */
  height: 40px; /* Optional: Set a fixed height for the top bar */
  border-top-left-radius: 10px; /* Match the border radius of chatbox */
  border-top-right-radius: 10px; /* Match the border radius of chatbox */
}

.elapsed-time {
  font-size: 0.9rem;
}

.topbar-buttons {
  display: flex;
  gap: 4px;
}

.chatbox-content {
  flex: 1;
  padding: 16px;
  max-height: 300px;
  overflow-y: auto;
  scroll-behavior: smooth;
}

button:not(:hover) {
  outline: none;
}

.chatbox-input {
  margin: 10px;
  position: fixed;
  bottom: 115px;
  right: 35px;
  max-width: 400px;
  min-width: 350px;
}

.chatbox-content {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
}

.chat-message {
  display: flex;
  margin: 8px 15px;
  max-width: 90%;
}

.user-message {
  justify-content: flex-end;
}

.user-message p {
  background-color: #1976d2;
  color: white;
  padding: 10px 14px;
  border-radius: 18px 18px 0 18px;
  max-width: 100%;
  word-wrap: break-word;
}

.chatbot-message {
  justify-content: flex-start;
}

.chatbot-message p {
  background-color: #ddd;
  color: #333;
  padding: 10px 14px;
  border-radius: 18px 18px 18px 0;
  max-width: 100%;
  word-wrap: break-word;
}

